<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<p>
  <strong>Token:</strong>
  <%= @guest.token %>
</p>

<p>
  <strong>Participating:</strong>
  <% human_readable = ['undecided', 'turned down', 'not sure', 'participating'] %>
  <%= 'unentschlossen' if @guest.participating == 'undecided' %>
  <%= 'Sorry Dude, komme nicht' if @guest.participating == 'turned_down' %>
  <%= 'Bin mir nicht sicher' if @guest.participating == 'not_sure' %>
  <%= 'Sehr geil, ich komme!' if @guest.participating == 'participating' %>
</p>

<% if @guest.companions > 0 %>
  <p>
    <strong>Companions:</strong>
    <%= @guest.companions %>
  </p>
<% end %>

<% if @guest.emails_sent && @guest.emails_sent > 0 %>
  <p>
    <strong>Emails sent:</strong>
    <%= @guest.emails_sent %>
  </p>
<% end %>

<% if @guest.notice && @guest.notice != '' %>
  <p>
    <strong>Notice:</strong>
    <%= @guest.notice %>
  </p>
<% end %>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
